<%- include('partials/header') %>



 <div class="front-content">
  <h1 style="text-align:center;">Go with the work <i class="far fa-thumbs-up"></i></h1>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/balanceenquiry" role="button">Balance Enquiry</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3" style="">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/atmf" role="button">ATM approvals</a>
        </div>
      </div>
    </div>

    <!-- <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/transaction" role="button">Transaction Details</a>
        </div>
      </div>
    </div> -->

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/atm" role="button">Request for ATM Card</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/create_account" role="button">Create Account</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/applyloan" role="button">Apply loan</a>
        </div>
      </div>
    </div>

     <div class="col-sm-3" style="">
       <div class="card">
         <div class="card-body">
           <a class="btn btn-block" href="/finloan" role="button">Loan approvals</a>
         </div>
       </div>
     </div>

    <!-- <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/send" role="button">Send Money through Bank</a>
        </div>
      </div>
    </div> -->
</div>



  </div>
  </div>

</div>
<%- include('partials/footer') %>
