<%- include('partials/header') %>
<div class="home">

  <!-- <img src="/css/bank.jpeg" alt="bank"> -->
  <div class="home-text">
    <h1 class="front-text" style="margin-top:30px;">PLEASE REGISTER OR LOGIN TO CONNECT WITH BANK!</h1>
    <a class="btn btn-home btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-home btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>

</div>

<%- include('partials/footer') %>
