<%- include('partials/header') %>

<div class="overall">
<div class="front-content">
  <h1 style="text-align:center;">Choose your option <i class="far fa-hand-point-down"></i></h1>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/cus_pin_login" role="button">Customer</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/em_pin_login" role="button">Bank Employee</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/man_pin_login" role="button">Manager</a>
        </div>
      </div>
    </div>

  </div>

</div>

</div>

























<!-- <div class="front-content">
  <h1 style="text-align:center;">Go with the work <i class="far fa-thumbs-up"></i></h1>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/balanceenquiry" role="button">Balance Enquiry</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/balanceenquiry" role="button">Transaction Details</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/balanceenquiry" role="button">Request for ATM Card</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/balanceenquiry" role="button">Create Account</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/balanceenquiry" role="button">Apply loan</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/balanceenquiry" role="button">Send Money through Bank</a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <a class="btn btn-lg btn-primary" href="#" role="button">Balance Enquiry</a> -->

<%- include('partials/footer') %>
