<%- include('partials/header') %>


<div class="container mt-5">
  <h1 class="register" style="margin:20px;">Pin</h1>

  <div class="row">
    <div class="col-sm-6">
      <div class="login-card">
        <main class="form-signin">

          <form action="/man_pin_login" method="POST">

            <div class="form-floating">
              <input type="number" name="manpin" class="form-control" id="floatingInput" placeholder="Only numbers Eg: 123">
              <label for="floatingInput">Enter your pin</label>
            </div>

            <button class="btn btn-lg btn-dark" type="submit" style="margin-top:10px;">Get in</button>
            <p style="margin:20px;">Or</p>
            <p style="margin-top:25px;">Don't have a pin? <a href="/man_createpin">Create pin</a></p>

          </form>
        </main>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>
